{% load static %}
<div class="sidenav">
  <div class="logo">
      Landstring
  </div>
  <nav>
  <a href="#about">О Нас</a>
  <a href="#services">Услуги</a>
  <a href="#clients">Клинты</a>
  <a href="#contact">Контакт</a>
  <button class="dropdown-btn">Выпадающий
  </button>
  <div class="dropdown-container">
      <a href="#">Ссылка 1</a>
      <a href="#">Ссылка 2</a>
      <a href="#">Ссылка 3</a>
  </div>
  <a href="#contact">Поиск</a>
  </nav>
  <div class="user">
      <a href="#"><img src="{% static 'accounts/img/user.png' %}" alt="Не удалось загрузить картинку"></a>
  </div>
</div>