{% extends "accounts/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/css/projects_list.css' %}">
{% endblock styles %}


{% block content %}
<div class="main">
    <div class="projects_list">
        <h2>Текущие проекты:</h2>
        {% if p_p %}
            {% for project in p_p %}
            <div class="project">
                <a href="{{ project.id }}" class="project_title"><h3 class="project_title">{{ project.name }}</h3></a>
                <hr />
                <div class="creator">
                    <h3 class="text">Создатель: </h3>
                    <h3 class="name">{{ project.author.first_name}} {{ project.author.last_name }}</h3>
                </div>

            </div>
            {% endfor %}
        {% else %}
            <p class="length_0">Текущих проектов нету</p>
        {% endif %}


        <h2 class="finished">Завершённые проекты:</h2>
        {% if f_p_p %}
            {% for project in f_p_p %}
            <div class="project">
                <a href="{{ project.id }}" class="project_title"><h3 class="project_title">{{ project.name }}</h3></a>
                <hr />
                <div class="creator">
                    <h3 class="text">Создатель: </h3>
                    <h3 class="name">{{ project.author.first_name}} {{ project.author.last_name }}</h3>
                </div>

            </div>
            {% endfor %}
        {% else %}
            <p class="length_0">Завершённых проектов нету</p>
        {% endif %}
        
    </div>
    
</div>
{% endblock content %}