.projects_list{
    margin-left: 100px;
    margin-top: 80px;
}
.projects_list h3{
    color: rgb(51, 153, 255);
}
.projects_list h3.finished{
    margin-top: 150px;
    color: rgb(51, 153, 255);
}
.project{
    margin-top: 30px;
    width: 1000px;
    padding: 30px 100px;
    border-radius: 6px;
    background-color: rgb(51, 153, 255, 0.1);
    box-shadow: 0 0 3px rgb(0 0 0 / 10%);
}
h3.project_title{
    color: #555;
}


a.project_title{
    text-decoration: none;
}

p.length_0 {
    margin-left: 50px;
    font-size: 20px;
    color: #555;
}