/* Фиксированный боковых навигационных ссылок, полной высоты */
.sidenav {
    text-align: center;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3399FF;
    overflow-x: hidden;
    padding-top: 20px;
  }
.logo{
    margin-top: 20px;
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 40px;
}
nav{
    margin-top: 100px;
}
  /* Стиль боковых навигационных ссылок и раскрывающейся кнопки */
nav a, nav .dropdown-btn {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: center;
    cursor: pointer;
    outline: none;
  }
  
  /* При наведении курсора мыши */
  nav a:hover, .dropdown-btn:hover {
    color: #3399FF;
    background-color: white;
  }
  
  /* Основное содержание */
  .main {
    margin-left: 250px; /* То же, что и ширина боковой навигации */
    font-size: 22px; /* Увеличенный текст для включения прокрутки */
    padding: 0px 10px;
  }
  
  /* Добавить активный класс для кнопки активного выпадающего списка */
  .active {
    background-color: rgb(211, 190, 190);
    color: #096ccf;
  }
  
  /* Выпадающий контейнер (по умолчанию скрыт). Необязательно: добавьте более светлый цвет фона и некоторые левые отступы, чтобы изменить дизайн выпадающего содержимого */
  .dropdown-container {
    width: 100%;
    display: none;
    background-color: #096ccf;
  }
  .dropdown-container a:hover{
    background-color: white;

  }

.user{
    margin-top: 100px;
}
.user a:hover{
    background-color: none;
}
